
@{
    ViewBag.Title = "ShowData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowData</h2>

<iframe src="~/Scripts/earthquakes.html" name="targetframe" allowTransparency="true" scrolling="no" frameborder="0" style="width:1000px; height:720px; margin-left: 0px"></iframe>

